/* shareWrap */
.shareWrap {
	text-align: right;
	border-bottom: 1px solid #999;
	padding: 10px 0;
	font-size: 0;
	color: transparent;
}
.shareWrap button {
	overflow: hidden;
	float: right;
	width: 30px;
	height: 30px;
	border: none;
	text-indent: -9999px;
	background: url(../img/share.png)no-repeat center center / 80%;
	background-color: transparent;
}
.shareWrap ul {
	width: 0;
	height: 30px;
	overflow: hidden;
	float:right;
}
.shareWrap button.active + ul{
	width: auto;
}
.shareWrap ul li {
	overflow: hidden;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-indent: -9999px;
}
.shareWrap ul li a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/share_kakaoTalk.png)no-repeat center center / 100%;
}
.shareWrap ul li a.instagram{
	background-image: url(../img/share_instagram.png);
}
.shareWrap ul li a.facebook{
	background-image: url(../img/share_facebook.png);
}
.shareWrap ul li a.twitter{
	background-image: url(../img/share_twitter.png);
}
.shareWrap ul li a.urlShare{
	background-image: url(../img/share_url.png);
}

/* section */
h2.detailTit {
	padding: 0 100px;
	font-size: 28px;
	text-align: center;
	line-height: 1.3;
}
.detailImgWrap {
	margin-top: 70px;
}
.detailImgWrap img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.detailImgWrap .imgWrap {
	width: 100%;
	height: 500px;
}
.detailImgWrap .imgWrap .slick-list {
	height: 100%;
}
.detailImgWrap .imgWrap .slick-list .slick-track {
	height: 100%;
}
.detailImgWrap .imgWrap .slick-list .slick-track .slick-slide > div {
	height: 100%;
	text-align: center;
}
.detailImgWrap .imgWrap .slick-list .slick-track .slick-slide > div .item {
	height: 100%;
}
.detailImgWrap .imgWrap .slick-list .slick-track .slick-slide > div .item img {
	display: inline-block;
	max-width: 100%;
	height: 100%;
}
.detailImgWrap .imgWrap .slick-dots {
	bottom: 10px;
	position: absolute;
	width: 100%;
	text-align: center;
	text-align: center;
}
.detailImgWrap .imgWrap .slick-dots li {
	display: inline-block;
	overflow: hidden;
	width: 10px;
	height: 10px;
}
.detailImgWrap .imgWrap .slick-dots li + li {
	margin-left: 5px;
}
.detailImgWrap .imgWrap .slick-dots li button {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	color: transparent;
	text-indent: -9999px;
	background-color: #fff;
}
.detailImgWrap .imgWrap .slick-dots li.slick-active button {
	background-color: #abc5d6;
}
.detailImgWrap .preview {
	height: 150px;
	position: relative;
	margin-top: 30px;
}
.detailImgWrap .preview .slick-list {
	overflow: hidden;
	height: 100%;
}
.detailImgWrap .preview .slick-list .slick-track {
	height: 100%;
}
.detailImgWrap .preview .slick-list .slick-track .slick-slide {
	margin-left: 10px;
}
.detailImgWrap .preview .slick-list .slick-track .slick-slide > div {
	height: 100%;
}
.detailImgWrap .preview .slick-list .slick-track .slick-slide .item {
	overflow: hidden;
	height: 100%;
	text-align: center;
	background-color: #000;
}
.detailImgWrap .preview .slick-list .slick-track .slick-slide.slick-current .item img {
	border-color: #5794bc;
}
.detailImgWrap .preview .slick-list .slick-track .slick-slide .item img {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	border: 3px solid #fff;
}
.detailImgWrap .preview .slick-arrow {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 40px;
	height: 100%;
	border: none;
	color: transparent;
	font-size: 0;
	text-indent: -9999px;
	background: url(../img/arrow.png)no-repeat center center / 100%;
	background-color: rgba(255, 255, 255, .5);
}
.detailImgWrap .preview .slick-prev {
	transform: rotate(180deg);
}
.detailImgWrap .preview .slick-next {
	right: 0;
}
.detailDesc {
	margin-top: 50px;
	line-height: 1.4;
}
.detailSite {
	margin-top: 30px;
	text-align: right;
}
.detailSite a {
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #000;
	transition: all .2s;
}
.detailSite a:hover,
.detailSite a:focus {
	color: #fff;
	background-color: #000;
}
.detailArea {
	margin-top: 50px;
}
.detailArea h3 + * {
	margin-top: 25px !important;
}
.detailArea .map {
	width: 100%;
	height: 500px;
	margin-top: 10px;
	background-color: azure;
}
@media all and (max-width:1023px) {
	h2.detailTit {
		padding: 0 50px;
		font-size: 20px;
	}
	.detailImgWrap {
		margin-top: 50px;
	}
	.detailImgWrap .preview {
		height: 125px;
	}
	.detailImgWrap .imgWrap {
		height: 400px;
	}
	.detailDesc {
		margin-top: 25px;
	}
}
@media all and (max-width:800px) {
	.detailImgWrap {
		margin-top: 40px;
	}
	.detailImgWrap .preview {
		height: 100px;
	}
	.detailImgWrap .imgWrap {
		height: 300px;
	}
}
@media all and (max-width:500px) {
	.detailImgWrap {
		margin-top: 30px;
	}
	h2.detailTit {
		padding: 0;
		font-size: 18px;
	}
	.detailImgWrap .preview {
		height: 90px;
	}
	.detailImgWrap .imgWrap {
		height: 250px;
	}
}
@media all and (max-width:400px) {
	.detailImgWrap {
		margin-top: 20p;
	}
	.detailImgWrap .preview {
		height: 60px;
	}
	.detailImgWrap .imgWrap {
		height: 200px;
	}
}