 .swiper-container {
            max-width: 1920px;
            margin: 0 auto;
        }

        .swiper-container img {
            width: 100%;
        }

        .section {
            text-align: center;
        }

        .section h3 {
            margin-top: 35px;
            font-size: 22px;
            font-weight: 400;
        }

        .section h3+p {
            margin-top: 10px;
        }

        .section .single-item .slick-arrow {
            z-index: 1;
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            margin-top: -25px;
            border: none;
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background: url(./asset/img/arrow.png) no-repeat center center;
            background-size: 50px;
        }

        .section .single-item .slick-dots {
            position: absolute;
            bottom: 20px;
            width: 100%;
        }

        .section .single-item .slick-dots li {
            display: inline-block;
            margin: 0 7px;
            font-size: 0;
            color: transparent;
        }

        .section .single-item .slick-dots li button {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: none;
            border-radius: 50%;
        }

        .section .single-item .slick-dots li.slick-active button {
            background-color: #abc5d6;
        }

        .section .single-item .item {
            height: 500px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .section .single-item .slick-prev {
            left: 0;
            transform: rotate(180deg);
        }

        .section .single-item .slick-next {
            right: 0;
        }

        .section .bestList {
            margin-top: 40px;
        }

        .section .bestList .listItem {
            float: left;
            overflow: hidden;
            width: 48%;
            height: 200px;
            margin: 10px 1% 0;
            line-height: 200px;
        }

        .section .bestList .listItem a {
            position: relative;
            display: block;
            height: 100%;
        }

        .section .bestList .listItem a .imgWrap {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: transform .2s;
        }

        .section .bestList .listItem a:hover .imgWrap,
        .section .bestList .listItem a:focus .imgWrap {
            transform: scale(1.1);
        }

        .section .bestList .listItem a .txtWrap {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            transition: background .2s;
        }

        .section .bestList .listItem a:hover .txtWrap,
        .section .bestList .listItem a:focus .txtWrap {
            background-color: rgba(0, 0, 0, .2);
        }

        .section .bestList .listItem img {
            width: 100%;
            display: block;
        }

        .section .bestList .listItem p {
            display: none;
        }

        @media all and (min-width:1024px) {
            .section h3 {
                margin-top: 70px;
                font-size: 28px;
            }

            .section .bestList .listItem {
                width: 22%;
                height: 264px;
                margin: 10px 0 0 3%;
                line-height: 1;
            }

            .section .bestList .listItem a>.txtWrap {
                padding: 30px 20px;
            }

            .section .bestList .listItem strong:after {
                content: '';
                display: block;
                width: 40px;
                height: 2px;
                margin: 15px auto 30px;
                background-color: #fff;
            }

            .section .bestList .listItem p {
                display: block;
            }

            .section .bestList li:first-child {
                margin-left: 0;
            }
        }
        	footer{
                width: 100%;
                height: 65px;
                position: fixed;
                bottom: 0;
                border-top: 2px solid black;
                background-color: white;
            }
         	footer ul li{
                /*메뉴*/
                float: left;
                width: 33.333%;
                list-style-type: none;
                text-align: center;
                font-size: 1em;
            }

            footer ul li a img{
                height: 45px;
            }
            
            footer ul li a div {
                line-height: 0px;
				color: #000;
            }
        
